PROJECT_NAME={{project_name}}
DOCKER_IMAGE_PREFIX={{docker_image_prefix}}
DOCKER_IMAGE_TAG=v1

# add project specific env vars here or other code to run
PROJECT_EXTRA_PRE_CMDS="export DEV_ENV_NIX_SHELL_ACTIVE=1"

# add project specific docker args
PROJECT_EXTRA_DOCKER_ARGS=""
